.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    overflow-x: auto;
    overflow-y: hidden;
}

.contentLayer {
    gap: 15px;
    flex: 1;

    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.desktopTile {
    width: 200px;
    height: 200px;

    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    border-radius: 4px;

}