.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.desktopHeader {
    padding: 10px;

    background-color: white;
    height: 40px;

    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.appsTabHost {
    overflow-x: auto;
    overflow-y: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.appsTab {
    padding: 15px;
    gap: 15px;

    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, 100px);

    flex-shrink: 0;
}

.appIcon {
    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    border-radius: 4px;

    grid-column: 1;
    grid-row: 1;
}
