.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.contentLayer {
    margin: 15px;
    gap: 15px;
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.desktopTile {
    width: 200px;
    height: 200px;

    background-color: #ff0000;

}