:root {
    --main-color: rgba(217, 217, 217, 0.288);
    --text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.desktopHeader {
    padding: 5px;

    backdrop-filter: blur(10px);
    background-color: var(--main-color);
    height: 40px;

    display: flex;
    justify-items: flex-start;
    align-items: center;

    position: relative;
}

.timelabel {
    font-family: "DejaVu Sans Mono";

    color: white;
    font-size: 20px;
}

.systemlabel {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-shadow: var(--text-shadow);
    font-size: 40px;
}

.appsTabHost {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    gap: 50px;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.appsTabHost.disableSnap {
    scroll-snap-type: unset;
}

.appsTab {
    padding: 15px;
    gap: 15px;
    width: 100%;
    scroll-snap-align: start;

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;

    flex-shrink: 0;
    overflow: hidden;

    min-height: 130px;
}

.appIcon {
    grid-column: 1;
    grid-row: 1;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.appIcon > div {
    position: relative;
    flex: 1;
}

.appIcon > div > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(0,0,0,1));
}

.appIcon > p {
    color: white;
    text-shadow: var(--text-shadow);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
