.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.contentLayer {
    padding: 15px;
    gap: 15px;
    flex: 1;

    overflow-x: auto;
    overflow-y: hidden;

    height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.desktopTile {
    width: 200px;
    height: 200px;

    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    border-radius: 4px;

}

.desktopHeader {
    padding: 10px;

    background-color: white;
    height: 40px;

    display: flex;
    justify-items: flex-start;
    align-items: center;
}
