.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.desktopHeader {
    padding: 10px;

    background-color: white;
    height: 40px;

    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.appsTab {
    padding: 15px;
    gap: 15px;
    flex: 1;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, 100px);
}

.appIcon {
    background-color: #ffffff88;
    backdrop-filter: blur(10px);
    border-radius: 4px;

    grid-column: 3;
    grid-row: 5;
}
