.desktopMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.desktopHeader {
    padding: 5px;

    background-color: white;
    height: 40px;

    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.appsTabHost {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.appsTabHost.disableSnap {
    scroll-snap-type: unset;
}

.appsTab {
    padding: 15px;
    gap: 15px;
    width: 100%;
    scroll-snap-align: start;

    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    grid-auto-rows: 100px;

    flex-shrink: 0;
    overflow: hidden;
}

.appIcon {
    grid-column: 1;
    grid-row: 1;

    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.appIcon > div {
    position: relative;
    flex: 1;
}

.appIcon > div > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: drop-shadow(0 0 8px rgba(0,0,0,1));
}

.appIcon > p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
