*, *::after, *::before {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100%;

    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

.layer {
    position: absolute;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.size-normalizer {
    position: relative;
}

.size-normalizer > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.desktopMain {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contentLayer {
    
    
    display: flex;
    
}
