.blur1 {
    backdrop-filter: blur(50px);
}

.blur2 {
    backdrop-filter: blur(10px);
}

.lockscreen-layout {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.lockscreen-clock-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.lockscreen-clock-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.lockscreen-clock-time {
    color: #ffffff;
    font-size: clamp(0px, 25vw, calc(1vh * 25));
}

.lockscreen-clock-seconds {
    color: #ffffff;
    font-size: clamp(0px, 10vw, calc(1vh * 10));
}

.lockscreen-clock-date {
    color: #ffffff;
    font-size: clamp(0px, 5vw, calc(1vh * 5));
}

.lockscreen-swipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    color: #ffffff;
    font-size: 30px;
}

.lockscreen-swipe-img {
    height: 50px;
    width: 50px;
}
