.blur1 {
    backdrop-filter: blur(50px);
}

.blur2 {
    backdrop-filter: blur(10px);
}

.lockscreen-layout {
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.lockscreen-clock-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.lockscreen-clock-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.lockscreen-clock-time {
    color: #ffffff;
    font-size: clamp(0px, 25vw, calc(1vh * 25));
}

.lockscreen-clock-seconds {
    color: #ffffff;
    font-size: clamp(0px, 10vw, calc(1vh * 10));
}

.lockscreen-clock-date {
    color: #ffffff;
    font-size: clamp(0px, 5vw, calc(1vh * 5));
}

.lockscreen-swipe {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    color: #ffffff;
    font-size: 30px;
}

.lockscreen-swipe-img {
    height: 50px;
    width: 50px;
}

.password-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.password-inline-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.password-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.password-button {
    border-radius: 9999vh;
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.4);
    height: min(20vw, 15vh);
    width: min(20vw, 15vh);

    color: #ffffff;
    font-size: calc(min(20vw, 15vh) * 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: background-color 0.1s ease;
}

.password-button:active {
    background-color: rgba(255, 255, 255, 0.8);
}

.curtain {
    transition: transform 0.3s ease;
    touch-action: none;
}

.curtain-active {
    transform: translateY(-100%);
}
