.blur1 {
    backdrop-filter: blur(50px);
}

.blur2 {
    backdrop-filter: blur(10px);
}

.lockscreen-layout {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.lockscreen-clock-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.lockscreen-clock-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}

.lockscreen-clock-time {
    color: #ffffff;
    font-size: clamp(0px, 25vw, calc(25px * 4));
}

.lockscreen-clock-seconds {
    color: #ffffff;
    font-size: clamp(0px, 10vw, calc(10px * 4));
}

.lockscreen-clock-date {
    color: #ffffff;
    font-size: clamp(0px, 5vw, calc(5px * 4));
}

